<%= form_with(model: @car, local: true) do |f|%>
  <div class="my-form-field">
    <%= f.label :make %>
    <%= f.text_field :make, class: 'form-control custom-input' %>
  </div>
  <div class="my-form-field">
    <%= f.label :model %>
    <%= f.text_field :model, class: 'form-control custom-input' %>
  </div>
  <div class="my-form-field">
    <%= f.label :year %>
    <%= f.number_field :year, class: 'form-control custom-input' %>
  </div>
  <div class="my-form-field">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control custom-input' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>